In [11]:
import pandas as pd

In [13]:
df.to_csv("cleaned_marketing_campaign.csv", index=False)

In [15]:
df = pd.read_csv("marketing_campaign.csv", sep="\t")

In [5]:
print("Initial Data Shape:", df.shape)
print("Missing Values:\n", df.isnull().sum())

Initial Data Shape: (2240, 29)
Missing Values:
 ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [17]:
df = df.drop_duplicates()

In [19]:
df = df.dropna()  # Alternatively, use fillna() if you want to impute values

In [21]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [23]:
df['dt_customer'] = pd.to_datetime(df['dt_customer'], format="%d-%m-%Y", errors='coerce')

In [25]:
df['education'] = df['education'].str.strip().str.lower()
df['marital_status'] = df['marital_status'].str.strip().str.lower()

In [27]:
df['income'] = df['income'].astype(float)
df['kidhome'] = df['kidhome'].astype(int)
df['teenhome'] = df['teenhome'].astype(int)

In [29]:
print("Data Shape after Cleaning:", df.shape)
print("Remaining Missing Values:\n", df.isnull().sum())

Data Shape after Cleaning: (2216, 29)
Remaining Missing Values:
 id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
dtype: int64

In [31]:
summary = {
    "Removed rows with missing values": True,
    "Removed duplicate rows": True,
    "Standardized column names": True,
    "Converted 'dt_customer' to datetime": True,
    "Standardized text values in 'education' and 'marital_status'": True,
    "Converted data types for numerical columns": True
}
print("\nSummary of Changes:")
for k, v in summary.items():
    print(f"- {k}: {v}")

Summary of Changes:
- Removed rows with missing values: True
- Removed duplicate rows: True
- Standardized column names: True
- Converted 'dt_customer' to datetime: True
- Standardized text values in 'education' and 'marital_status': True
- Converted data types for numerical columns: True

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2216 non-null   int64
 1   year_birth           2216 non-null   int64
 2   education            2216 non-null   object
 3   marital_status       2216 non-null   object
 4   income               2216 non-null   float64
 5   kidhome              2216 non-null   int32
 6   teenhome             2216 non-null   int32
 7   dt_customer          2216 non-null   datetime64[ns]
 8   recency              2216 non-null   int64
 9   mntwines             2216 non-null   int64
 10  mntfruits            2216 non-null   int64
 11  mntmeatproducts      2216 non-null   int64
 12  mntfishproducts      2216 non-null   int64
 13  mntsweetproducts     2216 non-null   int64
 14  mntgoldprods         2216 non-null   int64
 15  numdealspurchases    2216 non-null   int64
 16  numwebpurchases      2216 non-null   int64
 17  numcatalogpurchases  2216 non-null   int64
 18  numstorepurchases    2216 non-null   int64
 19  numwebvisitsmonth    2216 non-null   int64
 20  acceptedcmp3         2216 non-null   int64
 21  acceptedcmp4         2216 non-null   int64
 22  acceptedcmp5         2216 non-null   int64
 23  acceptedcmp1         2216 non-null   int64
 24  acceptedcmp2         2216 non-null   int64
 25  complain             2216 non-null   int64
 26  z_costcontact        2216 non-null   int64
 27  z_revenue            2216 non-null   int64
 28  response             2216 non-null   int64
dtypes: datetime64[ns](1), float64(1), int32(2), int64(23), object(2)
memory usage: 502.1+ KB